<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard-Konnect</title>
    <link href="https://assets-cdn.github.com/assets/github/index-b5ca8b516b3a2b11ff185cf0155d549e88d234933ea25dc2f400b8c772817299.css" media="all" rel="stylesheet" />
    <link href="https://assets-cdn.github.com/assets/github2/index-26ca3159d96cf926f7d5e7912b781f0d01f4a04ea62184b2edeb65df519b6228.css" media="all" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <!--"/public/bower_components/bootstrap/dist/css/bootstrap.min.css" -->
    <link href="public/bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/bower_components/bootstrap/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="public/bower_components/bootstrap/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
	$(document).ready(function(){
	    $("#logout").click(function(){
		$.post("http://10.151.32.102:4444/logout",{},function(data){       
		   if(data=='done'){
		     window.location.href="/";
		    }
		});
	    });
	});
</script>
</head>

<body>

<div id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Dashboard-Konnect</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
    	<div class="navbar-brand" id="logout" style="cursor:pointer">Logout</div>
    </ul>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav side-nav">

            <li>
                <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Home</a>
            </li>

            <li class="active">
                <a href="billingA"><i class="fa fa-fw fa-exchange"></i> Billing</a>
            </li>

            <li>
                <a href="accountA"><i class="fa fa-fw fa-file"></i> Account Setting</a>
            </li>

        </ul>

    </div>

    
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">

<div class="container-fluid">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Billing <small>Plans</small>
        </h1>
    </div>
</div>
<!-- /.row -->


<!-- /.row -->

	
<!-- -->
	<div class="column three-fourths">
	  <div class="context-loader large-format-loader">
		  <p><img alt="" height="64" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-128-338974454bb5c32803e82f601beb051d373744b024fe8742a76009700fd7e033.gif" width="64"></p>
		  <p>Loading…</p>
		</div>

			  <!-- List of plans available to the target -->
		    <div class="boxed-group">
			  <form accept-charset="UTF-8" action="/account/cycle_update" data-pjax="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="/T05jKdOlG/FrNiXUHqH3+zlPBT2prg70/2F8ZFzIXMP/wHPJ9CJIl83MOjYRn9szWhsUq+Eva9xSVa6ZCAFqg=="></div>
			    <input id="plan_duration" name="plan_duration" type="hidden" value="year">
			    <button type="submit" class="btn btn-sm boxed-group-action">Show yearly billing prices</button>
		</form>      <h3>
			<a href="/settings/billing" class="boxed-group-breadcrumb" data-pjax="true">Billing /</a>
			Plans
		      </h3>
		      <div class="boxed-group-inner seamless currency-container js-details-container">
			<table class="boxed-group-table billing-plans">
			  <thead>
			    <tr>
			      <th>Plan</th>
			      <th>Price<span class="toggle-currency"></span></th>
			      <th class="num">Speed</th>
			      <th>Bandwith</th>
			      <th>User</th>
			    </tr>
			  </thead>
			  <tbody>
			      <tr class="" data-name="small" data-cost="Rp157,186.92" data-repos="10">
				<td class="name">Pertamax</td>
				<td class="pricing">
				  <span class="default-currency">Rp50.000/month</span>
				</td>
				<td class="num">5Mbps</td>
				<td>5 TB</td>
				<td>64</td>
				<td class="text-right">
				    <a href="/payment?plan=Pertamax" class="btn btn-sm choose_plan">Upgrade</a>
				</td>
			      </tr>
			      <tr class="" data-name="small" data-cost="Rp157,186.92" data-repos="10">
				<td class="name">Premium</td>
				<td class="pricing">
				  <span class="default-currency">Rp20.000/month</span>
				</td>
				<td class="num">1Mbps</td>
				<td>1 TB</td>
				<td>16</td>
				<td class="text-right">
				    <a href="/payment?plan=Premium" class="btn btn-sm choose_plan">Upgrade</a>
				</td>
			      </tr>
			      <tr class="" data-name="small" data-cost="Rp157,186.92" data-repos="10">
				<td class="name">Free</td>
				<td class="pricing">
				  <span class="default-currency">Rp0/month</span>
				</td>
				<td class="num">256Kbps</td>
				<td>50 GB</td>
				<td>3</td>
				<td class="text-right">
				    <a href="/payment?plan=Free" class="btn btn-sm choose_plan">Upgrade</a>
				</td>
			      </tr>
			  </tbody>
			</table>
			<div class="plan-notice currency-notice local-currency-block">
			  Charges to your account will be made in <strong>US Dollars</strong>. Converted prices are
		provided as a convenience and are only an <em>estimate</em> based on <em>current</em> exchange
		rates. Local prices will change as the exchange rate fluctuates.

			</div>
		      </div>
		    </div>

		      <!-- Confirm Plan Lightbox -->
		      
		  <div id="confirm_plan_large" style="display: none;">
		    <h2 class="facebox-header">
		      Upgrade to the large plan
		    </h2>

		    <p>
			Your monthly bill will
			increase
			from <strong>$0</strong>
			to <strong>$50</strong>
			on 11 May, 2015.
		    </p>

		    <p>
		      Plan changes are immediate.
		    </p>

		    <p class="text-danger hidden">You will <strong>no longer</strong> be able to access your private repos or create new private&nbsp;repos.</p>

		    <form accept-charset="UTF-8" action="/account/cc_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="M/QSZhdBofMGfKYBEu+uKCF+WOgLhvMPfi3K+RYmRaSrmM9a58hp2TvY4EKQPKZ6MgAMGiHTvAmDUZ5Jrv+grQ=="></div>
		      <input name="plan" type="hidden" value="large">
		      <button type="submit" data-disable-with="Upgrade my plan" class="btn btn-primary btn-block">
			Change my plan
		      </button>
		</form>  </div>

		  <div id="confirm_plan_medium" style="display: none;">
		    <h2 class="facebox-header">
		      Upgrade to the medium plan
		    </h2>

		    <p>
			Your monthly bill will
			increase
			from <strong>$0</strong>
			to <strong>$22</strong>
			on 11 May, 2015.
		    </p>

		    <p>
		      Plan changes are immediate.
		    </p>

		    <p class="text-danger hidden">You will <strong>no longer</strong> be able to access your private repos or create new private&nbsp;repos.</p>

		    <form accept-charset="UTF-8" action="/account/cc_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="V1+5A4hwMPnMswna5X4SzyEAT+I2emVqdu/sK5W/wrmJDzNLPx6ke2mZJ9YtT4Vq+CwbCFZc5EX6NtlwTDnguA=="></div>
		      <input name="plan" type="hidden" value="medium">
		      <button type="submit" data-disable-with="Upgrade my plan" class="btn btn-primary btn-block">
			Change my plan
		      </button>
		</form>  </div>

		  <div id="confirm_plan_small" style="display: none;">
		    <h2 class="facebox-header">
		      Upgrade to the small plan
		    </h2>

		    <p>
			Your monthly bill will
			increase
			from <strong>$0</strong>
			to <strong>$12</strong>
			on 11 May, 2015.
		    </p>

		    <p>
		      Plan changes are immediate.
		    </p>

		    <p class="text-danger hidden">You will <strong>no longer</strong> be able to access your private repos or create new private&nbsp;repos.</p>

		    <form accept-charset="UTF-8" action="/account/cc_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="E5u43x46Cxast3SjSqZpJaW1qkRUZLp4MvRm61Zl2tB5lRH5BSr8PtN78I/saoGxXHFofR53GuYAdNT3AQ7TQg=="></div>
		      <input name="plan" type="hidden" value="small">
		      <button type="submit" data-disable-with="Upgrade my plan" class="btn btn-primary btn-block">
			Change my plan
		      </button>
		</form>  </div>

		  <div id="confirm_plan_micro" style="display: none;">
		    <h2 class="facebox-header">
		      Upgrade to the micro plan
		    </h2>

		    <p>
			Your monthly bill will
			increase
			from <strong>$0</strong>
			to <strong>$7</strong>
			on 11 May, 2015.
		    </p>

		    <p>
		      Plan changes are immediate.
		    </p>

		    <p class="text-danger hidden">You will <strong>no longer</strong> be able to access your private repos or create new private&nbsp;repos.</p>

		    <form accept-charset="UTF-8" action="/account/cc_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="xCiWJN4lfYKbUxeRjIN9pnLYX8+jvMRjhQETx+ac0FIfgoX1SILdQlnj/JFeLqjiY7T89f1ZwTjOgCY5TzAUJg=="></div>
		      <input name="plan" type="hidden" value="micro">
		      <button type="submit" data-disable-with="Upgrade my plan" class="btn btn-primary btn-block">
			Change my plan
		      </button>
		</form>  </div>

		  <div id="confirm_plan_free" style="display: none;">
		    <h2 class="facebox-header">
		      Change to the free plan
		    </h2>

		    <p>
		    </p>

		    <p>
		      Plan changes are immediate.
		    </p>

		    <p class="text-danger ">You will <strong>no longer</strong> be able to access your private repos or create new private&nbsp;repos.</p>

		    <form accept-charset="UTF-8" action="/account/cc_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="5u+npMeXOxe4y2R802eiVm9txa5PN3IIFFIEoSbQzR4pp9G+8wFQW/RZVjOPLNOQdwwiBrCKiO5UTYwvTLiTCw=="></div>
		      <input name="plan" type="hidden" value="free">
		      <button type="submit" data-disable-with="Change my plan" class="btn btn-primary btn-block">
			Change my plan
		      </button>
		</form>  </div>


		      <!-- Confirm billing cycle change Lightbox -->
		      
		<div id="confirm_period_change" style="display: none;">
		  <h2 class="facebox-header">Change your billing cycle</h2>

		  <p>
		    You are about to switch to <strong>yearly</strong> billing.
			You've already paid for this month, so your new yearly
		      cycle will begin on .
		  </p>

		  <p>
		      Your next charge will be
		      $0
		    for a year of GitHub.
		  </p>

		  <form accept-charset="UTF-8" action="/account/cycle_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="fdt9Iq9XvjUqza80B06k+1Gb+3D/xDrd2hNmvycfLHXfGiWbIrrTLGdg537Z/IiufucUq+GiTsKX37NvVgyI1A=="></div>
		    <input id="plan_duration" name="plan_duration" type="hidden" value="year">
		    <button type="submit" class="btn btn-primary btn-block">Change my billing cycle</button>
		</form></div>


		    </div>
<!-- -->
<!-- /.row -->

<div class="row" style="height:90%">


</div>
<!-- /.row -->

</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="assets/js/plugins/morris/raphael.min.js"></script>
<script src="assets/js/plugins/morris/morris.min.js"></script>
<script src="assets/js/plugins/morris/morris-data.js"></script>

</body>

