
    <div>
      <div class="header_bottom"> 
       <div class="col-xs-3 logo">
   	   	 <a href="home"><img src="/public/bower_components/images/logo.png" alt=""/></a>
   	   </div>
   	   <div class="col-xs-9 header_nav">
	   	   <div class="col-xs-9 menu">
					<a class="toggleMenu" href="#"><img src="/public/bower_components/images/nav_icon.png" alt="" /> </a>
					<ul class="nav" id="nav">
					  <li><a href="home">Home</a></li>
					  <li><a href="plans">Plans</a></li>
					  <li><a href="support">Support</a></li>
					  <li><a href="register">Register</a></li>
					</ul>
					<script type="text/javascript" src="/public/bower_components/js/responsive-nav.js"></script>
		  </div>
		  
		  <div class="col-xs-3 header_but">
			  <menu class="cl-effect-8" id="cl-effect-8">
				 <a class="popup-with-zoom-anim" href="#login">Log In</a>
				 <div id="login" class="mfp-hide">
									<div class="pop_up">
									 	<div class="payment-online-form-left">
											<form action="<?php echo base_url()?>register/login" method="POST">
												<h4><span class="shipping1"> </span>Log In</h4>
												<ul>
													<li><input name="nama" class="text-box-dark" type="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Frist Name';}"></li>
													
												</ul>
												<ul>
													<li><input class="text-box-dark" name="password" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
												</ul>
												<div class="clear"> </div>
											
												<ul class="payment-sendbtns">
													<li><input type="submit" value="Login"></li>
												</ul>
												
												
												<div class="clearfix"> </div>
											</form>
										</div>
						  			</div>
								</div>
			  </menu>	
		  </div>
	      <div class="clearfix"></div>		
   	  </div>
   	  <div class="clearfix"></div>
   	  </div>
   