<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Konnect A Hosting Category Flat Bootstarp Resposive Website Template | Support :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Konnect Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/public/bower_components/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/public/bower_components/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="/public/bower_components/bootstrap/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!-- webfonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!-- webfonts -->
<!-- dropdown -->
<script src="assets/js/jquery.easydropdown.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		function initialize() {
		  var mapProp = {
		    center:new google.maps.LatLng(-7.28011733852327, 112.797640291974),
		    zoom:15,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		  };
		  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		  var marker=new google.maps.Marker({
			  position:new google.maps.LatLng(-7.28011733852327, 112.797640291974),
			  animation:google.maps.Animation.BOUNCE
			  });

			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
<script src="/public/bower_components/js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="/public/bower_components/bootstrap/css/popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
</head>

<body>
<div class="about_header">
	
<% include header %>
<div class="map">
<h1><div align="center">Contact Us</div></h1>
	<div id="gmap" class="contact-map">
							<div id="googleMap" style="width:1350px;height:506px;"></div> <!-- width:1135px;height:420px; -->
						</div>
</div>
<div class="about contact">
	<div class="container">
	      <form method="post" action="contact-post.html">
					<div class="to">
                     	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left: 10px">
					</div>
					<div class="to">
                     	<input type="text" class="text" value="Your Website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Website';}">
					 	<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="margin-left: 10px">
					</div>
					<div class="text">
	                   <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
	                </div>
	                <div>
	               		<input type="submit" value="Submit">
	                </div>
           </form>
	</div>
</div>
<div class="footer">
	<div class="container">
		<p>Template by <a href=#>OpenVPN</a></p>
	</div>
</div>
</body>
</html>

